body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	color: #212529;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	padding: 15px;
}

.list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.list__item {
	margin: 0 5px;
}

.list__link {
	padding: 4px 8px;
	border: 1px solid #212529;
	border-radius: 4px;
	text-decoration: none;
	color: #212529;
}

.list__link:hover {
	color: #ffffff;
	background-color: #212529;
}

.intro__img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
}