<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./main.css">
	<title>Get Token | Portfolio</title>
</head>
<body>
	<div class="container">
		
		<div class="header">
			<ul class="list">
				<li class="list__item">
					<a class="list__link" href="./index.html">Home</a>
				</li>
				<li class="list__item">
					<a class="list__link" href="./about.html">Get Token</a>
				</li>
			</ul>
		</div><!-- End of header -->

		<div class="intro">
			<h1 class="intro__heading">Hi! This is your playground...</h1>
		</div><!-- End of intro -->

	</div><!-- End of container -->

</body>
</html>