<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./main.css">
	<title>Get Token | Portfolio</title>
</head>
<body>
	<div class="container">
		
		<div class="header">
			<ul class="list">
				<li class="list__item">
					<a class="list__link" href="./">Home</a>
				</li>
				<li class="list__item">
					<a class="list__link" href="./token">Get Token</a>
				</li>
			</ul>
		</div><!-- End of header -->

		<div class="intro">
			<h3 class="intro__heading">Get your Token for free</h3>

			<form class="intro__form" method="POST" action="/token">
				<label for="username">Username</label>
				<input class="intro__input" type="text" id="username" placeholder="Username" />
				<label for="password">Password</label>
				<input class="intro__input" type="password" id="password" placeholder="Password" />

				<button class="intro__button list__link" id="intro__button" type="submit">Submit</button>
			</form>
		</div><!-- End of intro -->

	</div><!-- End of container -->

	<script>
		intro__button.onclick = async () => {
			if(username.value.length && password.value.length) {
				
				const response = await fetch('http://localhost:4001/token', {

					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
						username: username.value,
						password: password.value
					})
				})

			}
		}
	</script>
</body>
</html>
